* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#main-header {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 30px 60px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Courier New';
}

nav {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu {
  display: none;
}

#hero {
  padding-top: 150px;
  gap: 50px;
}

#hero > div {
  flex-direction: column;
  gap: 30px;
  width: 400px;
  flex-wrap: wrap;
  align-items: flex-start;
}

button {
  border-radius: 10px;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  color: white;
  background-color: rgba(112, 142, 241, 0.884);
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: left;
}

.main-image {
  width: 410px;
  height: 410px;
  display: flex;
  justify-content: right;
}

.spo-logo {
  width: 25px;
  height: 25px;
}

.slack-logo {
  width: 25px;
  height: 25px;
}

.drop-logo {
  width: 25px;
  height: 25px;
}

.zoom-logo {
  width: 25px;
  height: 25px;
}

footer {
  flex-direction: row;
  display: flex;
  font-family: 'Franklin Gothic Medium';
  font-size: 25px;
  list-style: none;
  position: sticky;
  justify-content: space-evenly;
  padding-bottom: 1.5%;
}
