* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  padding-top: 20px;
  padding-left: 99px;
  padding-bottom: 5px;
  font-size: 25px;
  font-family: 'Courier New';
}

.nav-list {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  list-style: none;
  flex-grow: 1;
  margin-left: 48%;
  font-family: 'Arial Narrow';
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  color: white;
  background-color: rgba(112, 142, 241, 0.884);
  text-transform: uppercase;
  margin-left: 7pc;
}

.menu {
  display: none;
  width: 80px;
  height: 80px;
}

@media (max-width: 700px) {
  .nav-list {
    display: none;
  }
  .menu {
    display: block;
    margin-left: 9.5pc;
    cursor: pointer;
  }
  h1 {
    padding-left: 85px;
  }
}

@media (max-width: 710px) {
  div > article {
    font-size: 28px;
    text-align: center;
  }
  div > aside {
    text-align: center;
    font-size: 17px;
  }
  button {
    width: 115px;
    height: 40px;
    font-size: 10px;
    margin-left: 36%;
  }
  footer > div {
    font-size: 15px;
    margin-left: 24px;
  }
}

@media (max-width: 700px) {
  div > .spo-logo {
    height: 18px;
    width: 18px;
  }
  div > .slack-logo {
    height: 18px;
    width: 18px;
  }
  div > .drop-logo {
    height: 18px;
    width: 18px;
    margin-left: 16.5px;
  }
  div > .zoom-logo {
    height: 18px;
    width: 18px;
  }
  footer > div {
    width: 18%;
  }
  footer > div > .spo-logo,
  .zoom-logo,
  .slack-logo {
    margin-left: 12px;
  }
}

@media (max-width: 760px) {
  section > .main-image {
    display: none;
  }
}

article {
  font-weight: bold;
  font-family: arial;
  width: 55%;
  font-size: 55px;
  margin-left: 6pc;
  padding-bottom: 15px;
}

.container {
  display: flex;
  justify-content: left;
}

.main-image {
  width: 410px;
  height: 410px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

aside {
  font-family: arial;
  width: 51%;
  font-size: 18px;
  margin-left: 6pc;
  padding-bottom: 25px;
}

p {
  font-size: 15px;
  font-family: arial;
  color: grey;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 5pc;
}

.spo-logo {
  width: 25px;
  height: 25px;
  margin-right: 1pc;
}

.slack-logo {
  width: 25px;
  height: 25px;
  margin-right: 1pc;
}

.drop-logo {
  width: 25px;
  height: 25px;
  margin-right: 1pc;
}

.zoom-logo {
  width: 25px;
  height: 25px;
  margin-right: 3pc;
}

footer {
  flex-direction: row;
  display: flex;
  font-family: 'Franklin Gothic Medium';
  font-size: 25px;
  list-style: none;
  position: sticky;
  justify-content: space-evenly;
  padding-bottom: 2%;
}
